* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  margin: 0;
}

a {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  height: 100vh;
  color: #292929;
  /*  display: flex;
  align-items: center;*/
}

h1 {
  display: none;
}

h2,
h3,
h4,
h5 {
  font-family: Georgia, serif;
  font-weight: 400;
  letter-spacing: 2.2px;
  line-height: 1.3;
}

h2 {
  font-size: 44px;
  letter-spacing: 0;
  color: #ffffff;
}

h3 {
  font-size: 35px;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 1.13px;
}

h5 {
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
}

.paragraph-l {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  line-height: 1.3;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  transition: background-color 0.5s;
}
.btn_primary {
  background-color: #f1cdb3;
}
.btn_contur {
  border: 2px solid #f1cdb3;
  padding: 13px 43px;
}
.btn:hover {
  background-color: #fddcc4;
}

@media (max-width: 1279.98px) {
  [class*=__container] {
    padding: 0 30px;
  }
}
@media (max-width: 479.98px) {
  [class*=__container] {
    padding: 0 10px;
  }
}
.our-friends-slider {
  /*  border: 2px solid red;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-wrapper {
  /*  border: 2px solid green;*/
  width: 990px;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 90px;
  position: relative;
  left: -1080px;
}

.card {
  /*  border: 2px solid blue;*/
  flex: 0 0 270px;
  height: 435px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  transition: all 0.5s;
}
.card__image {
  display: flex;
  justify-content: center;
}
.card__image img {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0 0;
}
.card__title {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
}
.card:hover {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover .card__btn {
  background-color: #f1cdb3;
}

.slider-btn {
  cursor: pointer;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.slider-btn:hover {
  background-color: #f1cdb3;
}

@keyframes move-prev {
  from {
    left: -1080px;
  }
  to {
    left: 0px;
  }
}
.transition-prev {
  animation-name: move-prev;
  animation-duration: 2s;
}

@keyframes move-next {
  from {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}
.transition-next {
  animation-name: move-next;
  animation-duration: 2s;
}

@media (max-width: 1279.98px) {
  .slider-wrapper {
    width: 580px;
  }

  .slider {
    gap: 40px;
    left: -620px;
  }

  .card:nth-child(3), .card:nth-child(6), .card:nth-child(9) {
    display: none;
  }

  @keyframes move-prev {
    from {
      left: -620px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes move-next {
    from {
      left: -620px;
    }
    to {
      left: -1240px;
    }
  }
}
@media (max-width: 767.98px) {
  .slider-wrapper {
    width: 270px;
  }

  .card:nth-child(2), .card:nth-child(5), .card:nth-child(8) {
    display: none;
  }

  .slider {
    gap: 40px;
    left: -310px;
  }

  @keyframes move-prev {
    from {
      left: -310px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes move-next {
    from {
      left: -310px;
    }
    to {
      left: -620px;
    }
  }
}
@media (max-width: 499.98px) {
  .our-friends-slider {
    position: relative;
    flex-direction: column;
  }

  .slider-wrapper {
    order: -1;
  }

  .slider-btn {
    position: absolute;
    bottom: -70px;
  }
  .slider-btn_prev {
    left: 29%;
    transform: translateX(-50%);
  }
  .slider-btn_next {
    right: 29%;
    transform: translateX(50%);
  }
}
.modal-window {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  transition: all 0.5s;
}
.modal-window__body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-window__content {
  position: relative;
  width: 900px;
  border-radius: 9px;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  transform-style: preserve-3d;
  transform: rotateY(-70deg);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.modal-window__image img {
  border-radius: 9px 0 0 9px;
  height: 500px;
  width: 500px;
}
.modal-window__info {
  position: relative;
  width: 351px;
  height: 400px;
  overflow: auto;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 50px 0px;
}
.modal-window__close {
  position: absolute;
  top: -52px;
  right: -42px;
  cursor: pointer;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.modal-window__close:hover {
  background-color: #f1cdb3;
}

.modal-window-info__title {
  margin: 0px 0px 10px 0px;
}
.modal-window-info__subtitle {
  margin: 0px 0px 40px 0px;
}
.modal-window-info__text {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  margin: 0px 0px 40px 0px;
}
.modal-window-info__data-list li {
  position: relative;
  padding: 0px 0px 0px 14px;
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #000000;
  font-weight: 700;
}
.modal-window-info__data-list li:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.modal-window-info__data-list li span {
  font-weight: 400;
}
.modal-window-info__data-list li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #f1cdb3;
  transform: translateY(-50%);
}

.open {
  opacity: 1;
  visibility: visible;
}

.open-content {
  opacity: 1;
  visibility: visible;
  transform: rotateY(0deg);
}

.lock {
  overflow: hidden;
}

@media (max-width: 1279.98px) {
  .modal-window__content {
    width: 630px;
  }
  .modal-window__image img {
    height: 350px;
    width: 350px;
  }
  .modal-window__info {
    width: 260px;
    height: 303px;
    padding-right: 10px;
    margin: 10px 0px 37px;
  }

  .modal-window-info__subtitle {
    margin: 0px 0px 20px 0px;
  }
  .modal-window-info__text {
    font-size: 13px;
    margin: 0px 0px 20px 0px;
  }
  .modal-window-info__data-list li {
    line-height: 1.1;
  }
  .modal-window-info__data-list li:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }
}