* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  margin: 0;
}

a {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  height: 100vh;
  color: #292929;
  display: flex;
  align-items: center;
}
body.static {
  overflow: hidden;
}

h1 {
  display: none;
}

h2,
h3,
h4,
h5 {
  font-family: Georgia, serif;
  font-weight: 400;
  letter-spacing: 2.2px;
  line-height: 1.3;
}

h2 {
  font-size: 44px;
  letter-spacing: 0;
  color: #ffffff;
}

h3 {
  font-size: 35px;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 1.13px;
}

h5 {
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
}

.paragraph-l {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  line-height: 1.3;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  transition: background-color 0.5s;
}
.btn_primary {
  background-color: #f1cdb3;
}
.btn_contur {
  border: 2px solid #f1cdb3;
  padding: 13px 43px;
}
.btn:hover {
  background-color: #fddcc4;
}

/* ========================================================================= */
@media (max-width: 1279.98px) {
  [class*=__container] {
    padding: 0 30px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    padding: 0 10px;
  }

  .curtain {
    position: fixed;
    background: #292929;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 80;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .curtain.show-menu {
    right: 0;
    opacity: 0.6;
  }
}
@media (max-width: 479.98px) {
  [class*=__container] {
    padding: 0 10px;
  }

  h3 {
    font-size: 25px;
  }
}
.our-friends-slider {
  border: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider {
  border: 2px solid green;
  display: flex;
  gap: 90px;
  width: 990px;
}

.card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  transition: all 0.5s;
}
.card__image {
  width: 270px;
  height: 270px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.card__title {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
}
.card:hover {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover .card__btn {
  background-color: #f1cdb3;
}

.slider-btn {
  cursor: pointer;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.slider-btn:hover {
  background-color: #f1cdb3;
}