//_Container
[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

//_Body
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  height: 100vh;
  color: $color-dark-3xl;
}

//_Headlines
h1 {
  display: none;
}
h2,
h3,
h4,
h5 {
  font-family: Georgia, serif;
  font-weight: 400;
  letter-spacing: 2.2px;
  line-height: 1.3;
}
h2 {
  font-size: 44px;
  letter-spacing: 0;
  color: $color-light-xl;
}
h3 {
  font-size: 35px;
  letter-spacing: 0.06em;
}
h4 {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 1.13px;
}
h5 {
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
}
//_Paragraphs
.paragraph-l {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
}

//_Buttons
.btn {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  line-height: 1.3;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  transition: background-color 0.5s;

  &_primary {
    background-color: $color-primary;
  }

  &_contur {
    border: 2px solid $color-primary;
    padding: 13px 43px;
  }

  &:hover {
    background-color: $color-primary-light;
  }
}

@media (max-width: 1279.98px) {
  [class*="__container"] {
    padding: 0 30px;
  }
}

@media (max-width: 479.98px) {
  [class*="__container"] {
    padding: 0 10px;
  }
}
