.modal-window {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  transition: all 0.5s;

  &__body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: relative;
    width: 900px;
    border-radius: 9px;
    background: $color-light-s;
    display: flex;
    justify-content: space-between;
    transform-style: preserve-3d;
    transform: rotateY(-70deg);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  &__image {
    img {
      border-radius: 9px 0 0 9px;
      height: 500px;
      width: 500px;
    }
  }

  &__info {
    position: relative;
    width: 351px;
    height: 400px;
    overflow: auto;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 50px 0px;
  }

  &__close {
    position: absolute;
    top: -52px;
    right: -42px;
    cursor: pointer;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 2px solid $color-primary;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    &:hover {
      background-color: $color-primary;
    }
  }
}
.modal-window-info {
  &__title {
    margin: 0px 0px 10px 0px;
  }

  &__subtitle {
    margin: 0px 0px 40px 0px;
  }

  &__text {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: 0.06em;
    margin: 0px 0px 40px 0px;
  }

  &__data-list {
    li {
      position: relative;
      padding: 0px 0px 0px 14px;
      font-family: Georgia, serif;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: 0.06em;
      color: $color-black;
      font-weight: 700;
      &:not(:last-child) {
        margin: 0px 0px 10px 0px;
      }
      span {
        font-weight: 400;
      }
    }
    li:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      background: $color-primary;
      transform: translateY(-50%);
    }
  }
}

.open {
  opacity: 1;
  visibility: visible;
}

.open-content {
  opacity: 1;
  visibility: visible;
  transform: rotateY(0deg);
}

.lock {
  overflow: hidden;
}

@media (max-width: 1279.98px) {
  .modal-window {
    &__content {
      width: 630px;
    }
    &__image {
      img {
        height: 350px;
        width: 350px;
      }
    }
    &__info {
      width: 260px;
      height: 303px;
      padding-right: 10px;
      margin: 10px 0px 37px;
    }
  }
  .modal-window-info {
    &__subtitle {
      margin: 0px 0px 20px 0px;
    }

    &__text {
      font-size: 13px;
      margin: 0px 0px 20px 0px;
    }

    &__data-list {
      li {
        line-height: 1.1;
        &:not(:last-child) {
          margin: 0px 0px 5px 0px;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .modal-window {
    &__content {
      width: 240px;
    }
    &__image {
      display: none;
    }
    &__info {
      width: 220px;
      height: 321px;
      padding-right: 5px;
      margin: 10px;
    }
    &__close {
      right: -30px;
    }
  }
  .modal-window-info {
    &__title {
      text-align: center;
    }
    &__subtitle {
      text-align: center;
    }
    &__text {
      text-align: justify;
      font-size: 13px;
    }
  }
}
