.our-friends-slider {
  /*  border: 2px solid red;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-wrapper {
  /*  border: 2px solid green;*/
  width: 990px;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 90px;
  position: relative;
  left: -1080px;
}

.card {
  /*  border: 2px solid blue;*/
  flex: 0 0 270px;
  height: 435px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  transition: all 0.5s;

  &__image {
    width: 270px;
    height: 270px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__title {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    .card__btn {
      background-color: $color-primary;
    }
  }
}

.slider-btn {
  cursor: pointer;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  &:hover {
    background-color: $color-primary;
  }
}
//_Animation:
@keyframes move-prev {
  from {
    left: -1080px;
  }
  to {
    left: 0px;
  }
}

.transition-prev {
  animation-name: move-prev;
  animation-duration: 2s;
}

@keyframes move-next {
  from {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}

.transition-next {
  animation-name: move-next;
  animation-duration: 2s;
}

//____________
