//_Color
//__primary
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

//__light
$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;

//__dark
$color-black: #000000;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
