@font-face {
  font-family: 'icon_font_arrows';
  src:  url('../fonts/icon_font_arrows.eot?c6nglw');
  src:  url('../fonts/icon_font_arrows.eot?c6nglw#iefix') format('embedded-opentype'),
    url('../fonts/icon_font_arrows.ttf?c6nglw') format('truetype'),
    url('../fonts/icon_font_arrows.woff?c6nglw') format('woff'),
    url('../fonts/icon_font_arrows.svg?c6nglw#icon_font_arrows') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_font_arrows' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 6px;
  line-height: 1;
 

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-next:before {
  content: "\e900";
}
.icon-arrow-prev:before {
  content: "\e901";
}
